<footer>
    <div class="f-info">
        <div class="name">&copy;2025 SmartStay,Inc</div>
        <div class="option">
                <a href="/privacy">. Privacy</a>
                <a href="/terms">. Terms</a>
                <a href="/details">. Company details</a>
        </div>
        <div class="social">
            <i class="fa-solid fa-language lang"></i>
            <i class="fa-brands fa-instagram insta"></i>
            <i class="fa-brands fa-linkedin linkdin"></i>
            <i class="fa-brands fa-twitter twit"></i>
        </div>
    </div>
</footer>