<% layout("./layout/boilerplate") %>
<body>
  
    <div class="row row-col-lg-3 row-col-md-2 row-col-sm-1">
        <% for(let lists of allList) {%>
        <a class="links" href="/lists/<%= lists.id %>">
            <div class="card" style="width: 20rem;">
            <img src=<%= lists.image %> class="card-img-top" alt="PG image" style="height: 20rem;">
            <div class="card-img-overlay"></div>
            <div class="card-body">
              <p class="card-text"><b><%= lists.title %></b></p>
              <p>&#8377;<%= lists.price.toLocaleString("en-IN") %></p>
            </div>
          </div>
        </a>
          <% } %>  
</div>

</body>

